* {
    /* outline: 1px solid red; */
}

.item {
    height: 35px;
    width: 300px;
    font-size: 20px;
    padding: 5px;
}

.submit {
    height: 50px;
    width: 120px;
    border-radius: 10px;
    background-color: coral;
    font-size: 25px;
    /* font-weight: bold; */
    color: white;
}

ul {
    /* margin-top: 20px; */
    list-style-type: none;
}

li {
    font-size: 40px;
    width: 300px;
    margin-bottom: 15px;
    margin-left: -35px;
}

img {
    width: 25px;
}

.x {
    float: right;
}

.header {
    font-size: 80px;
    /* border: 1px solid black; */
}


Form {
    /* border: 1px solid black; */
    margin-top: 40px;
}

.text1 {
    /* color: grey; */
    text-decoration: line-through;
}

span {
    position: relative;
    left: 20px;
}
